<section class="tblaze-trail-content" ng-switch="display_mode">

    <div class="tblaze-trail-welcome" ng-switch-when="not_started">

        <!--<div class="tblaze-trail-image">
            <img src="/img/trail_placeholder.jpg" alt="Trails are Pretty">
        </div>-->

        <div class="tblaze-trail-map">

            <ui-gmap-google-map center="trail.path[0]" zoom="15" options="{ zoomControl: true }">
                <ui-gmap-polyline
                        path='trail.path'
                        stroke='map.stroke'
                        clickable='false'
                        editable="false"
                        draggable="false"
                        fit="true"
                ></ui-gmap-polyline>
            </ui-gmap-google-map>
        </div>

        <header class="tblaze-trail-header">
            <h1 class="tblaze-trail-name">{{ trail.trailName }}</h1>
        </header>

        <div class="tblaze-vertical-center-offset-10">
            <div class="row" style="margin-bottom: 0.5em;">
                <div class="col col-xs-12 tblaze-trail-stats">
                    <span class="tblaze-trail-stats-length">
                        {{ trail.trailLen | extract_miles }}<small title="miles">mi</small> - <span class="tblaze-difficulty-{{ trail.difficulty }}">{{ trail.difficulty | capitalize }} Trail</span>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col col-xs-12 tblaze-trail-weather">
                    <span class="tblaze-trail-weather-value">
                        <span class="tblaze-trail-weather-temp">
                            {{ getTemperature() }}&deg;F - {{ weather.station.condition | capitalize }}
                            <span class="tblaze-trail-weather-icon">
                                <i class="wi wi-day-sunny"></i>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div ng-if=" ! authenticated" class="tblaze-trail-action-fixed-bottom">

            <p>
                Login to connect, track your visits, and leave feedback!
            </p>

            <div class="tblaze-trail-action">
                <button class="btn btn-block btn-primary" ng-click="loginWithFacebook()">Login with Facebook</button>
                <button class="btn btn-block btn-danger"  ng-click="loginWithStrava()">Login with STRAVA</button>
            </div>
        </div>

        <div ng-if="authenticated" class="tblaze-trail-action-fixed-bottom">
            <div class="tblaze-trail-activity-question">

                <p class="text-center">
                   Choose an activity.
                </p>

                <div class="tblaze-trail-action row">

                    <div class="col-xs-4 tblaze-finger-button">
                        <button class="btn btn-success" ng-click="startActivity('hiking')"><img src="/img/activity_hike.png"></button>
                    </div>

                    <div class="col-xs-4 tblaze-finger-button">
                        <button class="btn btn-success" ng-click="startActivity('biking')"><img src="/img/activity_bike.png"></button>
                    </div>

                    <div class="col-xs-4 tblaze-finger-button">
                        <button class="btn btn-success" ng-click="startActivity('running')"><img src="/img/activity_run.png"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- ============ -->
    <!-- When started -->
    <!-- ============ -->

    <div class="tblaze-trail-started tblaze-trail-started-{{ activity.type }}" ng-switch-when="started">

        <div class="tblaze-trail-tips">
            <h4 style="margin: 0; padding-top: 10px; margin-bottom: 5px; text-align: center;">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                Trail Tips
            </h4>
            <p>
                {{ tips[0].text }}
            </p>
        </div>

        <div class="tblaze-started-message">

            <img src="/img/trail_icon.png" style="display: block; margin: 1em auto; width: 60%;">

            <h1>Hit the Trail!</h1>

            <p>
                Trails aren't for phones!  But, when you're done,
                come back and let us know.
            </p>
        </div>

        <div class="tblaze-trail-action tblaze-trail-action-fixed-bottom">
            <button class="btn btn-block btn-success btn-main-action" ng-click="finishActivity()">Finish {{ activity.type | capitalize }}</button>
        </div>
    </div>

    <!-- ============= -->
    <!-- When finished -->
    <!-- ============= -->


    <div class="tblaze-trail-finished" ng-switch-when="finished">


            <form novalidate ng-submit="submitFeedback(true)">

                <div class="tblaze-vertical-center">
                    <header>
                        <p>
                            You just finished {{ activity.type }} the <strong>{{ trail.trailName }}</strong>!
                        </p>
                        <h2 style="text-align: center;">Rate your {{ activity.type | capitalize }}</h2>
                    </header>

                    <p class="tblaze-feedback-rating">
                    <input-stars max="5" ng-model="feedback.rank"></input-stars>
                    </p>

                    <h2 style="text-align: center;">Leave your Mark</h2>

                    <p class="tblaze-feedback-comments">
                        <label for="tblaze-feedback-comments" class="sr-only">Add to the trail log</label>
                        <textarea ng-model="feedback.comment" class="form-control" id="tblaze-feedback-comments" name="tblaze-feedback-comments" placeholder="Add your comments to the trail log"></textarea>
                    </p>

                    <div style="text-align: center;">
                        <p class="tblaze-feedback-post-to-fb">
                            <label>
                                <input type="checkbox" name="tblaze-feedback-post-to-facebook">
                                Share on Facebook
                            </label>
                        </p>
                    </div>
                </div>

                <div class="tblaze-trail-action tblaze-trail-action-fixed-bottom">
                    <button class="btn btn-block btn-success btn-main-action" ng-click="finishActivity()">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- ============== -->
    <!-- When submitted -->
    <!-- ============== -->

    <div class="tblaze-trail-finished" ng-switch-when="submitted">
        <div class="tblaze-trail-info">
            <div class="tblaze-vertical-center" style="text-align: center;">

                <img src="/img/rock_on.png" style="display: block; margin: 1em auto; width: 80%;">

                <h2>Thanks! You Rock!</h2>

                 <p>
                     Thanks for using TrailBlazers, and look for the
                     QR code on other Tallahassee trails!
                 </p>
            </div>
        </div>
    </div>

    <!-- ========== -->
    <!-- When error -->
    <!-- ========== -->

    <div class="tblaze-trail-finished" ng-switch-when="error">
        <div class="tblaze-trail-info">
            <h2>Whoops!</h2>
            <p>
                Something went wrong.  An administrator will look into it.
            </p>
        </div>
    </div>

</section>
</div>
