/*
 * Trailblazers CSS
 */

/* Basic stuff */
html, body {
  overflow-x: hidden;
  background-image: url('/img/concrete_pattern.png');
  background-repeat: repeat;
}

/* Override Bootstrap stuff */
input, textarea {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.tblaze-header {
  text-align: center;
  background-color: #54BA56;
  color: #fff;
}

.tblaze-header h2 {
  font-size: 1em;
  margin: 0;
  padding: 0.25em 0.5em;
}

.tblaze-trail-content {
  padding: 0 1em;
}

.tblaze-trail-image {
  margin: 0 -1em;
}

.tblaze-trail-image img {
  width: 100%;
}

.tblaze-trail-header p {
  margin-bottom: 0;
  margin-top: 10px;
}

.tblaze-trail-header p + h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.tblaze-trail-action {
  padding-top: 1em;
  padding-bottom: 1em;
}

.tblaze-feedback-rating {
  text-align: center;
}

.tblaze-feedback-rating li {
  font-size: 2.5em;
  padding: 0;
  margin: 0;
}

.tblaze-feedback-comments textarea {
  resize: vertical;
}

.tblaze-trail-action-fixed-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 0;

}

.tblaze-trail-action-fixed-bottom button {
  padding-top: 0.65em;
  padding-bottom: 0.65em;
  font-size: 1.3em;
}

.tblaze-trail-stats-length {
  display: block;
  font-size: 2em;
  line-height: 1.25em;
}

.tblaze-trail-weather-temp {
  display: block;
  font-size: 2em;
  line-height: 1.25em;
}

.tblaze-finger-button {
  text-align: center;
}

.tblaze-finger-button button {
  padding: 1.5em 1em;
  border-radius: 50% !important;
  box-shadow: 0 1px #EACB39;
}

.tblaze-finger-button button img {
  width: 40px;
  height: 36px;
}

.tblaze-trail-tips {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.75);
  background-color: #fff;
}

.tblaze-trail-tips h3 {
  margin-top: 0;
  padding-top: 20px;
}

.tblaze-started-message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.tblaze-trail-activity-question {
  margin-top: 50px;
}

.angular-google-map-container { height: 150px; margin-left: -1em; margin-right: -1em; }
